.top-margin {
    margin-top: 60px;
}

.bottom-margin {
  margin-bottom: 100px;
}

.content {
    margin-top: 50px;
}

.pull-down {
    flex-direction: row;
    align-items: flex-end;
}

.no-border {
    border: none!important;
    border-radius: 0px;
}

@media screen and (max-width:575px) {
    .content {
        max-height: calc(100vh - 92px);
    }    
}

@media screen and (max-width:1080px) {
    .content {
        max-height: calc(100vh - 52px);
    }    
}

.spacer {
    margin-top: 10rem;
}
