.top-margin {
    margin-top: 50px;
}

.content {
    max-height: 500px;
    background-color: green;
    border: 1px solid black;
    overflow-y: scroll;
    margin-top: 50px;
    
}

@media screen and (max-width:575px) {
    .content {
        max-height: calc(100vh - 92px);
    }    
}

@media screen and (max-width:1080px) {
    .content {
        max-height: calc(100vh - 52px);
    }    
}

