<div class="container-fluid top-margin">
  <div class="container">
    <app-top-songs [isMobile]="isMobile"></app-top-songs>
    <div class="spacer"></div>
    <app-top-artists [isMobile]="isMobile"></app-top-artists>
    <div class="row">
      <div class="col-md-12  text-center">
        <div class="btn btn-primary spotify-btn" [routerLink]="['/track-analysis', 'playlist'] ">Analyze my Playlists!</div>
      </div>
    </div>
    <!-- <app-top-playlists></app-top-playlists> -->
    <app-recently-played [isMobile]="isMobile"></app-recently-played>
  </div>
</div>
