<div class="container-fluid top-margin bottom-margin">

  <div class="container">

    <div *ngFor="let podiumObject of podiumInfo; let i = index">
      <app-top-display [isMobile]="isMobile" [podiumObject]="podiumObject" [routing]="routing[i]" [title]="titles[i]" [isDetail]="false"></app-top-display>
      <div class="spacer"></div>
    </div>
    
    <div id="topPlaylists">
      <br>
      <br>
    </div>
    <div data-aos="fade-up" data-aos-duration="1500" data-aos-offset="100">
      <h1 class="text-center">Playlist Analyse</h1>
      <br>
      <div class="row">
        <div class="col-md-12  text-center">
          <div class="btn btn-primary spotify-btn" [routerLink]="['/details', 'playlist'] ">Zur Playlist Analyse!</div>
        </div>
      </div>
    </div>

  </div>
</div>