<div id="topGenre">
  <br>
  <br>
</div>
<div *ngIf="genresErmittelt" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="100">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Top Genre</h1>
      <br>
    </div>
  </div>
  <div class="row pull-down shadow-bottom">
    <div class="col-md-4 pr-0 pl-0">
      <div class="">
        <div class="image-square">
          <img src="https://banner2.kisspng.com/20171218/3bd/number-2-png-5a381cc3945257.2087321915136268196075.jpg" alt="Album Art" class="card-img-top">
        </div>
        <div class="card card-body pt-4 pb-4">
          <h5 class="text-center hide-overflow">{{genreObject[1].name}}</h5>
          <h6 class="text-center hide-overflow">{{genreObject[1].percent}}%</h6>
          <p class="text-center">#2</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 pr-0 pl-0">
      <div class="">
        <div id="circle">
          test
        </div>
        <div class="card card-body pt-5 pb-5">
          <h5 class="text-center hide-overflow">{{genreObject[0].name}}</h5>
          <h6 class="text-center hide-overflow">{{genreObject[0].percent}}%</h6>
          <p class="text-center">#1</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 pr-0 pl-0">
      <div class="">
        <div class="image-square">
          <img src="https://banner2.kisspng.com/20171220/bvq/number-3-png-5a3a521a64cd18.47307397151377154641291335.jpg" alt="Album Art" class="card-img-top">
        </div>
        <div class="card card-body pt-1 pb-1">
          <h5 class="text-center hide-overflow">{{genreObject[2].name}}</h5>
          <h6 class="text-center hide-overflow">{{genreObject[2].percent}}%</h6>
          <p class="text-center">#3</p>
        </div>
      </div>
    </div>
  </div>
</div>
