<div id="topKuenstler">
  <br>
  <br>
</div>
<div *ngIf="topArtists && !isMobile" data-aos="fade-up">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Top Künstler</h1>
    </div>
  </div>
  <div class="row pull-down shadow-bottom">
    <div class="col-md-4 pr-0 pl-0">
      <div class="">
        <div class="image-square">
          <img src="{{topArtists[1].images[0].url}}" alt="Album Art" class="card-img-top">
        </div>
        <div class="card card-body pt-4 pb-4">
          <h5 class="text-center hide-overflow">{{topArtists[1].name}}</h5>
          <p class="text-center">#2</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 pr-0 pl-0">
      <div class="">
        <div class="image-square">
          <img src="{{topArtists[0].images[0].url}}" alt="Album Art" class="card-img-top">
        </div>
        <div class="card card-body pt-5 pb-5">
          <h5 class="text-center hide-overflow">{{topArtists[0].name}}</h5>
          <p class="text-center">#1</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 pr-0 pl-0">
      <div class="">
        <div class="image-square">
          <img src="{{topArtists[2].images[0].url}}" alt="Album Art" class="card-img-top">
        </div>
        <div class="card card-body pt-1 pb-1">
          <h5 class="text-center hide-overflow">{{topArtists[2].name}}</h5>
          <p class="text-center">#3</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="topKuenstler">
  <br>
  <br>
</div>
<div *ngIf="topArtists && isMobile" data-aos="fade-up">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Top Künstler</h1>
    </div>
  </div>
  <div class="row pull-down ">
    <div class="col-sm-12" *ngFor="let artist of topArtists; let i = index;">
      <div class="card ">
        <div class="image-square">
          <img src="{{artist.images[0].url}}" alt="Album Art" class="card-img-top">
        </div>
        <div class="card-body pb-0 pt-3">
          <h5 class="text-center hide-overflow">{{artist.name}}</h5>
          <p class="text-center">#{{i+1}}</p>
        </div>
      </div>
    </div>
  </div>
</div>