<div class="container top-margin">

  <div class="row" *ngIf="type==='topTracks'">
    <div class="col-md-12">
      <h1 class="text-center">Analysierung deiner Tracks</h1>
      <br>
    </div>
  </div>

  <div class="row" *ngIf="type==='playlist'">
    <div class="col-md-8">
      <h1>Playlist Analyse</h1>
    </div>
    <div class="col-md-4">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" #playlistDropdown>
          Wähle eine Playlist aus!
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div *ngFor="let playlist of playlists" (click)="analysePlaylist(playlist)" class="dropdown-item">
            {{playlist.name}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <canvas id="radarChart" #radarChart></canvas>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="spacer"></div>

  <app-detail-list [detailObject]="trackDetails"></app-detail-list>
</div>
