.fixed-left {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 50;
}

.fixed-right {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.grey-background {
  background-color: #343a40d0;
  color: darkgrey;
  text-align: center;
}

.nav h5:hover {
  color: #fff !important;
}

.nav h6:hover {
  color: #fff !important;
}
