<div *ngIf="this.authService.isAuthenticatedObs() | async">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow img-fluid">
        <div class="navbar-brand col-sm-3 col-md-2 mr-0 img-fluid">
            <i class="fas fa-bars fa-lg clickable navigation-icon" (click)="toggleNavBar()"></i>
            <span class="clickable no-link">
              <img class="img-fluid" alt="SpotifyAnalyzer" src="../assets/SpotifyAnalyzerKlein.png" style="max-width: 75px;">
            </span>
        </div>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <span class="nav-link clickable" (click)="logout()">Ausloggen</span>
            </li>
        </ul>
    </nav>

    <div class="navigation-container col-sm-3 col-md-2 mr-0 " id="nav-container" #navContainer>
        <span class="close clickable" (click)="toggleNavBar()"><i class="fas fa-times fa-lg"></i></span>
        <a href="#">Top Songs</a>
        <a href="#">Top Alben</a>
        <a href="#">Top Playlists</a>
        <a href="#">Top Künstler</a>
        <a href="#">Top Genres</a>
    </div>
</div>
