<div *ngIf="this.authService.isAuthenticatedObs() | async">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="navbar-brand col-sm-3 col-md-2 mr-0">
            <i class="fas fa-bars fa-2x clickable navigation-icon" (click)="toggleNavBar()"></i>
            <span class="clickable no-link">
              <img class="img-fluid" alt="SpotifyAnalyzer" src="../assets/SpotifyAnalyzerKlein.png" width="40%">
            </span>
        </div>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <span class="nav-link clickable" (click)="logout()">Ausloggen</span>
            </li>
        </ul>
    </nav>

    <div class="navigation-container col-sm-3 col-md-2 mr-0" id="nav-container">
        <span class="close clickable" (click)="toggleNavBar()"><i class="fas fa-times fa-lg"></i></span>
        <a href="#">Top Songs</a>
        <a href="#">Top Artists</a>
    </div>
</div>
