/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
body{
  background-color: lightgrey;
  /* padding-top: 50px; */
}

.pull-down {
  flex-direction: row;
  align-items: flex-end;
}

.no-border {
  border: none!important;
  border-radius: 0px;
}

.hide-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.image-square{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}
.image-square img{
  position:absolute;
}