<div id="topTracks">
    <br>
    <br>
  </div>
  <div *ngIf="podiumObject.length && !isMobile" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="100">
    <a class="deleteLinkUnderline" [routerLink]="['/track-analysis', 'topTracks'] ">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">{{title}}</h1>
          <br>
        </div>
      </div>
      <div class="row pull-down shadow-bottom">
        <div class="col-md-4 pr-0 pl-0">
          <div class="no-border">
            <div *ngIf="podiumObject[1].image" class="image-square">
              <img src="{{podiumObject[1].image}}" alt="Album Art" class="card-img-top">
            </div>
            <div class="card card-body pb-4 pt-4">
              <h5 class="text-center hide-overflow">{{podiumObject[1].title}}</h5>
              <h6 class="text-center hide-overflow">{{podiumObject[1].subtitle}}</h6>
              <h6 class="text-center hide-overflow">{{podiumObject[1].additionalInfo}}</h6>
              <p class="text-center">{{podiumObject[1].ranking}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 pr-0 pl-0">
          <div class=" no-border">
              <div *ngIf="podiumObject[0].image" class="image-square">
                  <img src="{{podiumObject[0].image}}" alt="Album Art" class="card-img-top">
                </div>
                <div class="card card-body pb-5 pt-5">
                  <h5 class="text-center hide-overflow">{{podiumObject[0].title}}</h5>
                  <h6 class="text-center hide-overflow">{{podiumObject[0].subtitle}}</h6>
                  <h6 class="text-center hide-overflow">{{podiumObject[0].additionalInfo}}</h6>
                  <p class="text-center">{{podiumObject[0].ranking}}</p>
                </div>
          </div>
        </div>
        <div class="col-md-4 pr-0 pl-0">
          <div class=" no-border">
              <div *ngIf="podiumObject[2].image" class="image-square">
                  <img src="{{podiumObject[2].image}}" alt="Album Art" class="card-img-top">
                </div>
                <div class="card card-body pb-1 pt-1">
                  <h5 class="text-center hide-overflow">{{podiumObject[2].title}}</h5>
                  <h6 class="text-center hide-overflow">{{podiumObject[2].subtitle}}</h6>
                  <h6 class="text-center hide-overflow">{{podiumObject[2].additionalInfo}}</h6>
                  <p class="text-center">{{podiumObject[2].ranking}}</p>
                </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  
  <div *ngIf="podiumObject && isMobile" data-aos="fade-up" data-aos-duration="1500">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">{{title}}</h1>
      </div>
    </div>
    <div class="row pull-down no-border">
      <div class="col-sm-12" *ngFor="let placement of podiumObject;">
        <div class="card no-border">
          <div *ngIf="placement.image" class="image-square">
            <img src="{{placement.image}}" alt="Album Art" class="card-img-top">
          </div>
          <div class="card-body pb-0 pt-3">
            <h5 class="text-center hide-overflow">{{placement.title}}</h5>
            <h6 class="text-center hide-overflow">{{placement.subtitle}}</h6>
            <h6 class="text-center hide-overflow">{{placement.additionalInfo}}</h6>
            <p class="text-center">{{placement.ranking}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  