<div id="topPlaylists">
  <br>
  <br>
</div>
<div data-aos="fade-up" data-aos-duration="1500" data-aos-offset="100">
  <h1 class="text-center">Playlist Analyse</h1>
  <br>
  <div class="row">
    <div class="col-md-12  text-center">
      <div class="btn btn-primary spotify-btn" [routerLink]="['/track-analysis', 'playlist'] ">Zur Playlist Analyse!</div>
    </div>
  </div>
</div>
<!--<div *ngFor=" let playlist of item">
  <p>{{playlist.name}}</p>
  <p>Id: {{playlist.id}}</p>
  <p>Public: {{playlist.public}}</p>
  <hr style="border: 5px solid black">
</div>-->
